html,
body {
    width: 100%;
    min-width: 320px;
    height: 100%;
}

body {
    font-family: 'Helvetica Neue',Arial,sans-serif;
    padding-top: 90px; /* Offset navbar */
}

section {
    padding: 20px 0 30px 0;
}

a {
    text-decoration: none;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
  }